<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wyp.dao.RegisterDao">

    <insert id="registerCompany" parameterType="com.wyp.dao.domain.req.RegisterReqDo" >
        insert into account(companyId,account,password,companyName,staffName,companyNature,member,createTime)
        values (#{companyId},#{account},#{password},#{companyName},#{staffName},#{companyNature},#{member},now())
    </insert>

    <select id="isAccountExist" parameterType="String" resultType="java.lang.Boolean">
        select count(1) from account
        where account = #{account}
    </select>

    <select id="isCompanyNameExist" parameterType="String" resultType="java.lang.Boolean">
        select count(1) from account
        where companyName = #{companyName}
    </select>

    <select id="infoByAccount" parameterType="String" resultType="com.wyp.dao.domain.res.RegisterResDo">
        select * from account
        where account = #{account}
    </select>

    <select id="isCompanyIdExist" parameterType="Long" resultType="java.lang.Boolean">
        select count(1) from account
        where companyId = #{companyId}
    </select>

    <delete id="deleteAccount" parameterType="String">
        delete from account
        where account = #{account}
    </delete>
</mapper>